.animation-loading {
    max-width: 50px;
    z-index: 999999;
}

.selected-image {
    position: center;
    display: inline-block;
    width: 65%;
    margin: 2%;
}

.btn-next-prev {
    color: #262323;
    vertical-align: top;
    margin: 10% 0;
}

    .btn-next-prev:hover {
        text-shadow: none;
    }

.image-responsive {
    max-width: 95%;
}

.likes-section {
    margin: 30px;
    max-height: 20px;
}
