.player-image {
    margin: auto 0;
    max-width: 200px;
    border-radius: 100px;
}

.player-info-panel {
    border: 1px solid #efebe9;
}

    .player-info-panel > th {
        margin-left: 5px;
    }

.player-selector {
    display: block;
}

.custom-add-panel {
        padding: 40px;
}

.custom-add-panel span{
    font-size: large;
}

