<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/materialize-v0.97.5/css/materialize.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/Photos.css"/>
    <include path="~/Content/Teams.css"/>
  </styleBundle>
</bundles>